<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Currículo</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/web-programming.svg" alt="Icone Programação"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">DTI Unimontes</h2>
				<p>Suporte em Geral, Montagem e Manutenção de Equipamentos de Informática e Montagem e Manutenção de Redes</p>
				<span class="cd-date">12/2010-12/2011</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/web-programming.svg" alt="Icone Programação"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Agência Seven</h2>
				<p>Criação de layouts e Desenvolvimento Web front-end (HTML, CSS e Javascript).</p>
				<span class="cd-date">12/2011-04/2012</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/web-programming.svg" alt="Icone Programação"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Infobits</h2>
				<p>Atividades administrativas, prototipação e criação de layouts, desenvolvimento Web front-end utilizando as linguagens HTML, CSS e Javascript e desenvolvimento Web back-end utilizando PHP (CodeIgniter) e MySQL.</p>
				<span class="cd-date">11/2012-11/2013</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/web-programming.svg" alt="Icone Programação"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Agência Flybuzz</h2>
				<p>Criação de layouts, Desenvolvimento Web front-end, Desenvolvimento de sites utilizando os CMS Joomla e Wordpress e gerenciamento de mídias sociais.</p>
				<span class="cd-date">11/2012-03/2013</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/web-programming.svg" alt="Icone Programação"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Fiber Consulting</h2>
				<p>Desenvolvimento Web front-end utilizando as linguagens HTML, CSS e Javascript(avançado) e back-end utilizando JAVA e PostgreSQL.</p>
				<span class="cd-date">04/2013-04/2014</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/web-programming.svg" alt="Icone Programação"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Tectotum Tecnologia</h2>
				<p>Criação de layouts, Desenvolvimento Web front-end (HTML, CSS, Javascript) e Desenvolvimento Web back-end utilizando PHP (CodeIgniter) e MySQL.</p>
				<span class="cd-date">06/2014-09/2014</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/web-programming.svg" alt="Picture"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Atlas do Desenvolvimento Humano</h2>
				<p>Desenvolvimento Web front-end (HTML, CSS e Javascript) e Desenvolvimento Web back-end utilizando PHP e MySQL).</p>
				<span class="cd-date">04/2016-04/2017</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location bounce-in">
				<img src="../assets/img/web-programming.svg" alt="Picture"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content bounce-in">
				<h2>Nortti Sistemas</h2>
				<p>Atividades administrativas, prototipação e criação de layouts, Desenvolvimento Web front-end (HTML, CSS, Javascript), Desenvolvimento Web back-end utilizando PHP (CodeIgniter, Laravel) e MySQL, Desenvolvimento de sites utilizando o CMS Wordpress e gerenciamento de mídias sociais.</p>
				<span class="cd-date">11/2014-03/2018</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block--><!-- cd-timeline-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location bounce-in">
				<img src="../assets/img/question30.svg" alt="Location">
			</div><!-- cd-timeline-img-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>